.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1200;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 5vh;
    border-top: 1px solid black;
}